*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,img {
    height: 100%;
}

header{
    background-color: #E89224;
    padding: 10px;
}

nav ul{
    list-style-type:none;
    padding: left 0;
    text-align: center;
}


/* header nav ul */
header nav ul {
    text-align: center;
}

header nav ul li a {
    position: relative;
    top: 14px;
    background-color: #E89224;
    margin: .2rem;
    padding: .6rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-family:'Manrope', sans-serif;
}

header nav ul li a:hover {
    background-color: black;
    border-bottom: 2px solid rgb(9, 183, 214);
    color: #E89224;
}

header nav ul li {
    display: inline-block;
    
 }


/* nav ul li*/
nav ul li{
    margin: 0.98rem;
}




.bg-color{
    background-color: black;
}


.masthead{
    font-family:'Manrope', sans-serif;
    font-size: 2rem;
    background-color: #E89224;
    padding: 2rem;
    font-weight: 600;
    text-align: center;
    color: black;
}

.logo-small{
    position: relative;
    top: 8px;
    width: 180px;
    left: 23%;
}

.dynamic-content p{
    position: relative;
    top: 10px;
    font-family:'Manrope', sans-serif;
    font-size: 0.75rem;
    margin: 10px;
    margin-top: -40px;
    padding: 1rem;
    line-height: 1.4rem;
    color: white;
}

.dynamic-content img{
    margin: 10px;
    padding: 1rem;
}

.dynamic-content h2 {
    font-family:'Manrope', sans-serif;
    font-size: 1rem;
    margin: 25px;
    margin-bottom: -15px;
    color: #E89224;
}

figcaption{
    font-family:'Manrope', sans-serif;
    font-size: 12px;
    color: #E89224;
    position: relative;
    top: -20px;
    margin: 1rem;
    left: 2%;
}





footer {
    position: relative;
    padding: 2rem;
    /*justify-content: center;
    display: flex;*/
    background-color: #E89224;
    
}

footer img {
    position: relative;
    bottom: 2px;
    height: 35px;
    width: 35px;
    left: 30%;
    margin: .35rem;
}

footer p {
    position: relative;
    font-family:'Manrope', sans-serif;
    text-align: center;
    top: 10px;
}



/***************Media Queries**********************/
@media only screen and (min-width: 35rem) {


    header{
        display: flex;
        background-color: #E89224;
        padding: 10px;
    }
    
    nav ul{
        list-style-type:none;
        padding: left 0;
        text-align: center;
    }
    

    /* header nav ul */
    header nav ul {
        text-align: center;
    }
    
    header nav ul li a {
        position: relative;
        top: 50px;
        left: 170%;
        background-color: #E89224;
        margin: 30px;
        padding: .6rem;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        font-family:'Manrope', sans-serif;
    }
    
    header nav ul li a:hover {
        background-color: black;
        border-bottom: 2px solid rgb(9, 183, 214);
        color: #E89224;
    }
    
    header nav ul li {
        display: inline-block;
        margin: -57px;
        position: relative;
        left: 65%;
        
     }
    
    
    /* nav ul li*/
    nav ul li{
        margin: 1px;
    }
    
    .logo-small{
        display: block;
        position: relative;
        top: 8px;
        width: 180px;
        left: 16%;
    }

article {
    display: flex;
}

article p {
    position: relative;
    top: 75px;
    margin: 3rem;
}

.dynamic-content p{
    position: relative;
    top: 138px;
    font-family:'Manrope', sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

 figcaption{
     font-family:'Manrope', sans-serif; ;
     color: #E89224;
     position: relative;
     left: 3%;
     top: -19px;
 }

 footer {
    position: relative;
    padding: 2rem;
    justify-content: center;
    display: flex;
    background-color: #E89224;
    
}

footer p {
    position: relative;
    font-family:'Manrope', sans-serif;
    text-align: center;
    top: 15px;
    left: 4%;
}





/***************Media Queries**********************/
@media only screen and (min-width: 80rem) {

    .logo-small{

        top: 8px;
        width: 180px;
        left: 30%;
    }
    header nav ul li {
        display: inline-block;
        margin: -57px;
        position: relative;
        left: 495%;
     }

    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    

    footer {
        position: relative;
        padding: 2rem;
        justify-content: center;
        display: flex;
        background-color: #E89224;
        
    }

    footer p {
        position: relative;
        font-family:'Manrope', sans-serif;
        text-align: center;
        top: 15px;
        left: 4%;
    }
    

    .dynamic-content p{
        position: relative;
        top: 150px;
        font-family:'Manrope', sans-serif;
        font-size: 1rem;
        line-height: 1.4rem;
    }

    figcaption{
        font-family:'Manrope', sans-serif; ;
        color: #E89224;
        position: relative;
        left: 3%;
        top: -19px;
    }
   
    
}


}
