
<article>
    <div>
        <h2>Most Popular Sports</h2>
        <figure>
            <img src="../img/soccer.jpg" alt="soccer.jpg">
            <figcaption>Soccer</figcaption>
        </figure>
    </div>

    <div>
        <p>Soccer (also called football, especially in other countries) is the most popular sport in the world and is played in most countries. It is a team sport, involving 11 players on each side who use their legs, head and torso to pass a ball and score goals. The nature of the game means that players may be sprinting, running fast or slow, and sometimes may be standing around.

         As play during soccer is continuous, soccer is great for fitness and cardiovascular health. People of various ages and skill levels can participate in soccer, with those of various sizes being able to do equally well.
            
         Soccer can also be a great sport for kids who may not have high levels of athletic ability, but who would like to participate in team sports. Soccer is ideal for boys, girls, men and women, who play the same game under the same rules and where physically appropriate may play alongside each other.
            
        </p>
    </div>
    
</article>

<article>
    <div>
        <h2>The Basketball</h2>
        <figure>
            <img src="../img/basketball.jpg" alt="basketball">
            <figcaption>Basketball</figcaption>
        </figure>
    </div>

    <div>
        <p>Basketball is a contact sport, and it requires a large variety of skill development. When conditioning for basketball, players need aerobic and anaerobic training. Aerobic training involves endurance, and anaerobic training involves short burst activities. During playtime, there is a lot of starting and stopping, so while it is not considered an aerobic sport, it still provides a heart-pumping workout and promotes cardiovascular health. Because you keep moving, your heart rate increases and also helps build endurance, which is important to keeping your heart healthy. It will also help lower the risk of stroke and heart disease later in your life.</p>
    </div>
    
</article>


<article>
    <div>
        <h2>Hockey is a great Sport</h2>
        <figure>
            <img src="../img/Hockey.jpg" alt="hockey">
            <figcaption>Hockey</figcaption>
        </figure>
    </div>

    <div>
        <p>Whether seeking to lose weight in a fun way, or helping your son or daughter achieve a positive body image while strengthening their mind and body; hockey is an excellent fast paced sport for all of the above.

       Short bursts of energy quickly burn maximum calories, while building muscle to prolong the positive benefits. As well, the cardiovascular nature of hockey pumps oxygen through the body, improving lung capacity and cellular activity throughout.</p>
    </div>
    
</article>
