<section class="container">
    <div>
        <figure>
            <img src="../img/queeny.jpg" alt="queeny.jpg">
            <figcaption>Queeny's Kitchen</figcaption>
        </figure>
    </div>  

    <div>
        <figure>
            <img src="../img/magazine.jpg" alt="magazine.jpg">
            <figcaption>Magazine Design</figcaption>
        </figure>
    </div>   

    <div>
        <figure>
            <img src="../img/sketchmusic.jpg" alt="sketchmusic.jpg">
            <figcaption>Sketch Music</figcaption>
        </figure>
    
    </div>


    <div>
        <figure>
            <img src="../img/stress.jpg" alt="stress.jpg">
            <figcaption>Stress on the body</figcaption>
        </figure>
    </div>

    <div>    
        <figure>
            <img src="../img/typography.jpg" alt="typography.jpg">
            <figcaption>Typography Poster</figcaption>
        </figure>
    </div>

    <div> 
        <figure>
            <img src="../img/gradel.jpg" alt="gradel.jpg">
            <figcaption>Gradel Poster</figcaption>
        </figure>

    </div>
</section>
